html{
  scroll-behavior: smooth;
}
body{
  font-family: "Hiragino Kaku Gothic ProN";
  padding-top: 70px;
  margin: 0;
}

.hero-header{
  background-image: url(images/Buses2.jpg);
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
}

.explanation{
  height: 300px;
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black;
  margin: auto;
}

.small-header{
  height: 150px;
  width: 80%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  margin: 20px auto;
  margin-top: 100px;
  scroll-margin-top: 100px;
}

.column{
  width: 70%;
  margin: 20px auto;
  display: flex;
  min-height: 300px;
}

.column-image{
  width: 60%;
}

.column-text{
  width: 40%;
  padding: 20px;
}

.column-image img{
  width: 100%;
}

.column-text h1{
  margin-top: 0px;
  font-size: 30px;
}

.bar{
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 80px;
  background-color: rgba(0, 0, 128, 1);
  display: flex;
  align-items: center;
  padding: 0 50px;
  z-index: 100;
  box-sizing: border-box;
}

.bar-text{
  width: 60%;
}

.bar-text h1{
  color: white;
  font-size: 30px;
  margin: 0;
}

.bar-nav{
  width:40%;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-end;
}

.bar-nav a{
  color: white;
  font-size: 25px;
}

.footer{
  background-color: rgba(0, 0, 128, 1);
  height: 50px;
  width: 100%;
  color: white;
  padding: 0 50px;
  margin-top: 100px;
}
